
    div(id='pubnub', pub-key='pub-c-ffcc3163-7fa4-419e-b464-52fcefdd15d9', sub-key='sub-c-b2d0c1d8-952b-11e3-8d39-02ee2ddab7fe' style='position:absolute; top: -1000px;')
    script(src='http://cdn.pubnub.com/pubnub-3.5.48.min.js')
    script.
        (function() {
            PUBNUB.subscribe({
                channel: 'control_channel',
                message: function(m){console.log(m)}
            })
        })()
