extends layout

block content
  h1= title
  p Welcome to the thunder dome!
  p After signing in you will get a notification on your glass with your new timeline card and information.
  a(id='signin', href='send') SEND NOTIFICATION CARD 
