extends layout

block content
  h1= title
  p Welcome to the thunder dome!
  p After signing in you will get a notification on your glass with your new timeline card and information.
  a(id='signin', href='send') SEND NOTIFICATION CARD 
  div
  a(id='sendupdate', href='sendupdate') SEND UPDATE
  div
  a(id='listtimeline', href='listtimeline') LIST TIMELINE
  div
  a(id='subscribe', href='subscribe') SUBSCRIBE
  div
  a(id='deleteall', href='deleteall') DELETE ALL
